<h1 mat-dialog-title>{{mode}} Role</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Role Name</label>
      <input type="text" formControlName="name" [class.is-invalid]="isSubmitted && f.name.errors" name="name" class="form-control form-control-sm">
      <div class="invalid-feedback" *ngIf="isSubmitted && f.name.errors && f.name.errors.required">
        Role Name is <strong>required</strong>
      </div>
    </div>
    <hr class="mb-0 mt-3">
    <mat-card-actions align="end">
      <button mat-button mat-raised-button mat-dialog-close>Close</button>
      <button type="submit" mat-button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </form>
</div>
